<h1>
  TapRacer<br>
  <small>Welcome <%= @name %></small>
</h1>
<button id="tapper" class="tap btn btn-default" data-name="<%= @name %>">Tap here</button>
<hr>
<a href="<%= tap_path(@conn, :index) %>">Sign out</a>
