<h2>Public Rooms</h2>

<button phx-click="create_room">Create Room</button>

<ul id="rooms" phx-update="prepend">
  <%= for room_state <- @room_states do %>
    <li id="room:<%= room_state.id %>"><code><%= live_redirect room_state.id, to: Routes.room_path(@socket, :index, room_state.id) %></code></li>
  <% end %>
</ul>
