<h1>TapRacer signup</h1>

<form action="/">
  <label for="username">Username:</label>
  <input type="text" name="username">
  <input type="submit" value="Play">
  <button type="button" name="play">Play</button>
</form>
